#content{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #81e0ff;
    height: 100%;
    padding: 5%;
}
#inp{
    margin: 20px;
}
#out{
    font-weight: bold;
    font-size: 1.2em;
}
body, html{
    height: 100%;
    overflow: hidden;
    margin: 0;
    color:#0a541e;
    border: 8px solid rebeccapurple;
}